body, html{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    height: 100%;
    background-attachment: fixed;
}

.logo{
    width: 150px;
    height: 90px;
    background-image: url(./logo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

.Plaid button{
    background-color: black !important;
    border: 2px solid black !important;
    color: white;
    margin-bottom: 20px;
}

.MuiAccordionDetails-root{
    text-align: left;
}

.icon{
    float: left;
}

.accountName{
    padding-left: 12px;
}

h6 a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    max-width: 175px;
}

.MuiInput-underline:after {
    border-bottom: black !important;
}

.MuiFormLabel-root.Mui-focused {
   color: black !important;
}

input{
    width: 275px !important;
}

button{
    color: white !important;
    background-color: black !important;
}

.MuiAlert-standardError {
    color: white !important;
    background-color: #983628 !important;
}

.MuiAlert-standardError .MuiAlert-icon {
    color:white !important;
}

.MuiAlert-root {
    margin-top: -30px;
    margin-bottom: 20px;
    border-radius: 0px !important;
}

a.link, a.link:visited{
    color: black;
}

a.link:hover, a.link:active{
    text-decoration: none;
    font-weight: 600;
}
  
#transactions .MuiButton-text {
    margin: 8px;
}

.amount{
    padding-left: 16px;
}

.ErrorPage h4 a {
    color: black;
}